body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#NavBar {
    background-color: blue;
    width: 100vw;
    height: 50px;
    
}

#PageTitle {
    background-color: red;
    width: 100vw;
    height: 40px;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
}

p {
  font-family: verdana;
  font-size: 20px;
}
