body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#NavBar {
    background-color: blue;
    color: "#FF0000";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50px;
}

#NavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
    
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#PageTitle {
    background-color: red;
    width: 100vw;
    height: 40px;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
}

p {
  font-family: verdana;
  font-size: 20px;
}
