body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#NavBar {
  background-colour: red;
}

#"PageTitle" {
  background-colour: green;
}
